@import "./variable.module.scss";

.searchBox {
  position: relative;
  margin: 40px 0;
  button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 30px;
  }
}

.heroImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
