/* navigation style  */
.logo {
  width: 70%;
}
.navbar a,
.navLink {
  font-size: 18px;
  padding: 5px 10px;
}
.navLink {
  font-weight: 500;
  transition: 0.4s;
  position: relative;
}

.navLink:hover {
  color: #0b4f6c;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  /* right: 0; */
  margin: auto;
  width: 0%;
  height: 1px;
  background: #0b4f6c;
  transition: 0.5s;
}

.navLink:hover.navLink::after {
  width: 90%;
}

.navSelected {
  color: #0b4f6c;
  font-size: 18px;
  font-weight: 700 !important;
  padding: 5px 10px;
}
